.inquiry-email {
	max-width: 450px;
	margin: 60px auto;
	/* position: absolute;
    right: 20%;
    top: 55%; */
}

.entry-modal>div.ant-modal-content>button>span>i.anticon.anticon-close.ant-modal-close-icon {
	font-size: 25px;
}

.entry-modal>.ant-modal-content {
	/* height: 100vh !important; */
	background: #4fbfdd;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.popupmodal {
	width: 50%!important;
}

@media screen and (max-width:768px) {
	.popupmodal {
		width: 100%;
	}
}

span.inquiry-email>span>span>.ant-btn-lg {
	background: #333;
	border-color: #333;
}

.entry-modal>.ant-modal-content>.ant-modal-header {
	background: #fff0;
	border-bottom: 0px solid #e8e8e8;
}

.entry-modal>.ant-modal-content>.ant-modal-footer {
	background: #fff0;
	border-top: 0px solid #e8e8e8;
}

.entry-modal>.ant-modal-content>button.ant-modal-close {
	color: #fff;
	font-weight: 900;
}

.entry-modal-normal>.ant-modal-content>.ant-modal-header {
	background: #fff0;
	border-bottom: 0px solid #e8e8e8;
}

.entry-modal-normal>.ant-modal-content>.ant-modal-footer {
	background: #fff0;
	border-top: 0px solid #e8e8e8;
}

.entry-modal-normal>.ant-modal-content>button.ant-modal-close {
	color: #fff;
	font-weight: 900;
}

.responsive-header-menu {
	display: none;
}

.m-bottom-carousel {
	display: none !important;
}

/* .m-home-section-5-slider-1{
    background: url('../img/brand/sectionIMG.png');
    background-repeat: no-repeat;
    background-size: cover;
    

} */

.booking-website-demo {
	text-align: center;
}

.single-app-desc-top-title {
	padding: 100px 80px;
}

.single-app-heading-text {
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}

.ant-spin-spinning {
	width: 100%;
	height: 70vh;
	padding-top: 200px;
}

.ant-carousel .slick-next::before {
	opacity: 1;
	transform: rotate(-40deg);
	top: 27px;
	left: 10px;
	width: 2px;
	height: 15px;
	background: #fff;
	display: block;
	content: ' ';
	position: absolute;
}

.ant-carousel .slick-next::after {
	transform: rotate(40deg);
	bottom: 27px;
	left: 10px;
	width: 2px;
	height: 15px;
	background: #fff;
	display: block;
	content: ' ';
	position: absolute;
}

.ant-carousel .slick-next {
	right: 0px;
	background: #00000080;
	height: 80px;
	box-shadow: 0px 0px 10px #e8e8e8;
	width: 20px;
	padding: 5px;
}

.ant-carousel .slick-prev {
	left: 0px;
	background: #00000080;
	height: 80px;
	box-shadow: 0px 0px 10px #e8e8e8;
	width: 20px;
	padding: 5px;
}

.ant-carousel .slick-prev::before {
	opacity: 1;
	transform: rotate(40deg);
	top: 27px;
	left: 8px;
	width: 2px;
	height: 15px;
	background: #fff;
	display: block;
	content: ' ';
	position: absolute;
}

.ant-carousel .slick-prev::after {
	transform: rotate(-40deg);
	bottom: 27px;
	left: 8px;
	width: 2px;
	height: 15px;
	background: #fff;
	display: block;
	content: ' ';
	position: absolute;
}

.ant-carousel .slick-prev:hover, .ant-carousel .slick-next:hover, .ant-carousel .slick-prev:focus, .ant-carousel .slick-next:focus {
	color: transparent;
	background: #000000b5;
	outline: none;
}

.home-4-grid {
	margin: 0;
	padding: 80px 0;
	background: #1890ff;
	padding-left: 0px;
	padding-right: 0px;
	min-height: 600px;
}

.ant-carousel .slick-slide {
	max-height: 800px;
	height: 100%;
}

.home-slider {
	height: 610px;
}

.banner-user {
	height: 650px;
}

.tagline-heading.tagline-body {
	padding-top: 15px !important;
}

.home-feature-img.feature-img-body>img {
	top: 15px !important;
}

.tagline-heading {
	padding-top: 200px;
	text-align: left;
	padding-left: 100px;
}

.section-img {
	/* background: url(../img/brand/sectionIMG.png); */
	height: 650px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
}

.section-img1 {
	/* background: url(../img/brand/Jewelry_Buying.jpg); */
	height: 650px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
}

.section-img3.people-using-ecom {
	/* background: url(../img/brand/people-using-mobile.jpg); */
	height: 650px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
}

.global-ecommerce-container {
	margin-top: calc(10% - 20px);
}

.Jumbo-text {
	font-size: 100px;
	max-width: 850px;
	text-align: center;
	margin: 150px auto 50px auto;
	font-size: 100px !important;
	font-weight: 400 !important;
}

.Step-desc {
	font-size: 20px;
}

.jumbo-btn {
	text-align: center;
}

.jumbo-btn>a>button {
	text-align: center;
	width: 200px;
	height: 50px;
	font-size: 20px;
	/* background: #fff;
    color: #4fbfdd; */
}

.Steps-Title {
	/* color: #4fbfdd !important; */
	font-weight: 400 !important;
}

.slider-get-started-btn {
	min-width: 150px;
	margin-top: 40px;
	font-size: 18px;
	border: none;
}

/* End Radio Button */

/**************************************************************************************************/

@media only screen and (max-width: 1440px) {
	.home-slider {
		height: 100vh;
	}
}

/* Desktops and laptops ----------- */

@media only screen and (max-width: 1280px) {
	.section-img1 {
		/* background: url(../img/brand/Jewelry_Buying.jpg); */
		height: 100vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: 0px;
	}
	.section-img {
		/* background: url(../img/brand/sectionIMG.png); */
		height: 100vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: 0px;
	}
	.tagline-heading {
		/* padding-top: 30Vh;
        text-align: left;
        padding-left: 10%; */
		/*  */
		/* padding-top: 30Vh;
        text-align: center; */
		/*  */
		padding-top: 200px;
		text-align: left;
		padding-left: 100px;
	}
	.home-4-grid {
		margin: 0;
		padding: 80px 0;
		background: #1890ff;
		padding-left: 0px;
		padding-right: 0px;
		min-height: 100vh;
	}
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
	.text-demo-sub-text.main.lg-float-right.lg-rtl {
		float: unset !important;
		margin: 15px auto;
	}
	.texty-demo {
		font-size: 55px !important;
		font-weight: 500 !important;
	}
	.single-app-desc-top-title {
		padding: 100px 25px;
		text-align: center;
	}
	ul.slick-dots {
		display: none !important;
	}
	/* Styles */
	/* Styles */
	.Steps-Title {
		margin-top: 15px;
	}
	.texty-demo {
		font-size: 45px !important;
		font-weight: 500 !important;
	}
	.text-demo-sub-text {
		display: none;
	}
	.Jumbo-text {
		font-size: 100px;
		max-width: 850px;
		text-align: center;
		margin: 150px auto 50px auto;
		font-size: 70px !important;
		font-weight: 400 !important;
	}
	.slider-get-started-btn {
		min-width: 120px;
		margin-top: 5px;
		margin-bottom: 30px;
		font-size: 14px;
		border: none;
	}
	.ant-menu-horizontal {
		line-height: 1 !important;
		padding: 10px 5px;
		width: 100%;
		border-bottom: none;
		/* text-align: center; */
	}
	.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
		color: #4fbfdd;
		border-bottom: 2px solid #fff;
	}
	.ant-menu-horizontal>.ant-menu-item, .ant-menu-horizontal>.ant-menu-submenu {
		text-align: center;
		padding: 0px 20px;
	}
	.m-menu-icon {
		font-size: 25px;
	}
	.m-menu-title {
		font-size: 10px;
		line-height: 1.5;
	}
	.responsive-header-menu {
		display: flex;
		background: #fff;
		position: fixed;
		top: 0;
		z-index: 99;
		box-shadow: 0px 2px 5px #0000000d;
		width: 100%;
	}
	.responsive-header-menu>button {
		margin-top: 20px;
		float: left;
		font-size: 20px;
		height: 35px;
	}
	img.m-v-menu-icon {
		width: 20px;
		margin-right: 15px;
		margin-left: -3px;
		margin-bottom: 0px;
	}
	ul.ant-menu.m-authLinks.ant-menu-light.ant-menu-root.ant-menu-vertical>li {
		font-size: 18px;
	}
	.header-comp {
		display: none;
	}
	.tagline-heading {
		padding-top: 25%;
		text-align: center;
		padding-left: 15px;
	}
	/* .home-feature-img>img {
		width: 220px;
	} */
	.d-bottom-carousel {
		display: none !important;
	}
	.m-bottom-carousel {
		display: block !important;
	}
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
	.single-app-desc-top-title {
		padding: 100px 80px;
		text-align: center;
	}
	/* Styles */
	.Steps-Title {
		margin-top: 15px;
	}
	.texty-demo {
		font-size: 22px !important;
		font-weight: 600 !important;
	}
	.text-demo-sub-text {
		display: none;
	}
	.Jumbo-text {
		font-size: 100px;
		max-width: 850px;
		text-align: center;
		margin: 150px auto 50px auto;
		font-size: 35px !important;
		font-weight: 400 !important;
	}
	.slider-get-started-btn {
		min-width: 120px;
		margin-top: 5px;
		margin-bottom: 30px;
		font-size: 14px;
		border: none;
	}
	.ant-menu-horizontal {
		line-height: 1 !important;
		padding: 10px 5px;
		width: 100%;
		border-bottom: none;
		/* text-align: center; */
	}
	.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
		color: #4fbfdd;
		border-bottom: 2px solid #fff;
	}
	.ant-menu-horizontal>.ant-menu-item, .ant-menu-horizontal>.ant-menu-submenu {
		text-align: center;
		padding: 0px 20px;
	}
	.m-menu-icon {
		font-size: 25px;
	}
	.m-menu-title {
		font-size: 10px;
		line-height: 1.5;
	}
	.responsive-header-menu {
		display: flex;
		background: #fff;
		position: fixed;
		top: 0;
		z-index: 99;
		box-shadow: 0px 2px 5px #0000000d;
		width: 100%;
	}
	.responsive-header-menu>button {
		margin-top: 20px;
		float: left;
		font-size: 20px;
		height: 35px;
	}
	img.m-v-menu-icon {
		width: 20px;
		margin-right: 15px;
		margin-left: -3px;
		margin-bottom: 0px;
	}
	ul.ant-menu.m-authLinks.ant-menu-light.ant-menu-root.ant-menu-vertical>li {
		font-size: 18px;
	}
	.header-comp {
		display: none;
	}
	.tagline-heading {
		padding-top: 80px;
		text-align: center;
		padding-left: 15px;
	}
	/* .home-feature-img>img {
		width: 150px;
	} */
	.d-bottom-carousel {
		display: none !important;
	}
	.m-bottom-carousel {
		display: block !important;
	}
}