
.login-form-button{
	width: 100%;
	height:50px;
	font-size: 25px;
}
select#register_form_country {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}
.my-signup-form {
    max-width: 550px;
    margin: 60px auto;
    background: #ffffff;
    padding: 10px 15px;
    box-shadow: 0px 0px 3px #0000000d;
}
.full-logo {
    text-align: center;
    margin: 15px auto;
}
.full-logo > img {
    width: 100%;
    max-width: 200px;
}

.password-strength-meter-progress {
    width: 100% !important;
    height: 5px !important;
}

.white-bg{
    /* background: url(../../../../assets/img/brand/upapp-special-bg.png); */
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 15px;
}

.react-phone-number-input__icon-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: -29px;
}

.react-phone-number-input__row {
    padding: 1.21px 5px 0px 5px;
    /* border: 1px solid #ccc; */
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    background: #ffffff;
}
.react-phone-number-input__input{
    border-bottom: none!important;
}
.react-phone-number-input__icon.react-phone-number-input__icon--international > svg {
    padding-bottom: 9px;
}
input#register_form_phone {
    /* border: 1px solid #d9d9d9; */
    border-radius: 3px;
    padding: 0px 10px;
}
.uaf_cp-contactUs-heading{
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0px;
    text-align: center;
}
.uaf_cp-contactUs-line{
    margin: auto;
    width: 6%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 1rem;
}
.uaf_cp_contactform_Main{
    padding: 4rem 3rem!important;
    padding-bottom: 0!important;
}
.uaf_cp_contactform_InnerMain{
    padding: 2rem 3rem;
    /* background: #F7F7F7 0% 0% no-repeat padding-box; */
    background: transparent no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000020;
    border-radius: 2.5px;
    opacity: 1;
    padding-bottom: 0.8rem;
    border: 3px solid #333;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .white-bg{
        /* background: url(../../../../assets/img/brand/upapp-special-bg.svg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px 15px;
    }

}