/* .menu-list-name{
    padding: 20px;
    text-align: center;
}
.menu-list-name span:before{
    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    left: 0px;
    background-color: #2396ff;
    bottom: 0px;
    transition: 0.4s;
}
li.undefined-item:hover .menu-list-name span:before{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-list-name{
    padding: 6px 12px!important;
}
.nav-list-name .undefined-item{
    padding: 10px;
    background: aliceblue;
}
.nav-list-name .undefined-item a{
    display: block;
} */

.is-active{
    color: rgba(0, 0, 0, 0.65)!important;
}
.desktopMenuIconView{
    width: 20px;
    margin-right: 10px;
}
.mobile-menu-name-data{
    padding: 0px 10px;
    background: #00bcd426;
}
.menu-list-name,.mobile-menu-name-data{
    padding: 0px 10px;
    background: #00bcd426;
}
ul.ant-menu.Product-Menu.ant-menu-light.ant-menu-root.ant-menu-vertical{
    padding: 10px 4px;
}
ul.ant-menu.Product-Menu.ant-menu-light.ant-menu-root.ant-menu-vertical li.ant-menu-item{
    display: inline-table;
    margin: 0 8px;
    padding: 0;
    min-width: 135px;
    text-align: center;
}
.menu-list-name:before{
    content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    left: 0px;
    background-color: #4fbfdd;
    bottom: 0px;
    transition: 0.4s;
}
li.ant-menu-item:hover .menu-list-name:before{
    width: 100%;
}