/* Landing */

.uaf_cp {
    overflow-x: hidden;
    margin-top: 80px;
}

.uaf_cp-landing {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../img/Consultancy/img1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 89vh;
    margin-bottom: 3.5rem;
}

.uaf_cp-landing .UAF-container-fluid {
    padding: 0;
    max-width: "1200px";
    margin: "0 auto 80px auto"
}

.uaf_cp-hero-l1 p {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0.7em;
}

.uaf_cp-hero-l2 p {
    font-size: 25px;
    color: #ffffff;
}

.uaf_cp-herocontent {
    margin-top: 12%;
}

.uaf_cp-logo {
    margin-bottom: 3rem;
}

.uaf_cp-speakwith-btn,
.uaf_cp-speakwith-btn:hover,
.uaf_cp-speakwith-btn:focus,
.uaf_cp-speakwith-btn:active {
    background: rgb(79, 191, 221);
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 13.5px;
    font-weight: 600;
}

.uaf_cp-logo img {
    width: 180px;
}

.uaf_cp-about-mobileviewimage {
    display: none;
}

@media screen and (min-width:1921px) {
    .uaf_cp-landing {
        padding-top: 14rem;
    }
}

@media screen and (max-width:1920px) {
    .uaf_cp-landing {
        padding-top: 10rem;
    }
}

@media screen and (max-width:1590px) {
    .uaf_cp-landing {
        padding-top: 1rem;
    }
}

@media screen and (max-width:1440px) {
    .uaf_cp-landing {
        padding-top: 0;
    }
}

@media screen and (max-width:1024px) {
    .uaf_cp-landing {
        padding-top: 2rem;
    }
    .uaf_cp-logo img {
        width: 120px;
    }
    .uaf_cp-hero-l1 p {
        font-size: 20px;
        margin-bottom: 0.7em;
    }
    .uaf_cp-hero-l2 p {
        font-size: 15px;
        margin-bottom: 2em;
    }
}

@media screen and (max-width:520px) {
    .uaf_cp-landing {
        background-size: 100%;
        margin-bottom: 0rem;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        padding-top: 5rem;
    }
    .uaf_cp-logo {
        margin-bottom: 1.5rem;
    }
    .uaf_cp-logo img {
        width: 150px;
    }
    .uaf_cp-hero-l1 p {
        font-size: 23px;
        margin-bottom: 0.7em;
    }
    .uaf_cp-about-mobileviewimage {
        display: block;
        margin-bottom: 2rem;
    }
    .uaf_cp-about-mobileviewimage img {
        max-width: -webkit-fill-available;
    }
    .uaf_cp-about-img {
        display: none;
    }
    .uaf_cp .UAF-container-fluid {
        padding: 1rem;
    }
    .uaf_cp-speakwith-btn {
        font-size: x-small;
    }
}

@media screen and (max-width:450px) {
    .uaf_cp-landing {
        margin-bottom: 0rem;
        background-position: bottom center;
        min-height: 88vh;
        padding-top: 8rem;
    }
    .uaf_cp-logo {
        margin-bottom: 1.5rem;
    }
    .uaf_cp-logo img {
        width: 120px;
    }
    .uaf_cp-hero-l1 p {
        font-size: 20px;
        margin-bottom: 0.7em;
    }
    .uaf_cp-hero-l2 p {
        font-size: 15px;
        margin-bottom: 2em;
    }
}


/* About Section */

.uaf_cp-about {
    padding: 3.5rem 0;
}

.uaf_cp_heading_l1 {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}

.uaf_cp_heading_l2 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0px;
}

.uaf_cp_heading_l3 {
    font-size: 20px;
    font-weight: 700;
    color: #474848;
    margin-bottom: 1.5rem;
}

.uaf_cp_content {
    font-size: 14px;
    font-weight: 700;
    color: #474848;
    margin-bottom: 2.5rem;
}

.uaf_cp-about-content {
    margin: 5rem 0;
    margin-bottom: 0;
}

.uaf_cp-about-img img {
    max-width: -webkit-fill-available;
}

.uaf_cp-about-line {
    margin: 0;
    width: 35%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 1.7rem;
}

@media screen and (min-width:1025px) {
    .uaf_cp-about-img img {
        padding-top: 7rem;
    }
}

@media screen and (max-width:1024px) {
    .uaf_cp_heading_l1 {
        font-size: 18px;
    }
    .uaf_cp_heading_l2 {
        font-size: 24px;
    }
    .uaf_cp_heading_l3 {
        font-size: 16px;
        margin-bottom: 1.5rem;
    }
    .uaf_cp_content {
        font-size: 10px;
        margin-bottom: 2.5rem;
    }
    .uaf_cp-speakwith-btn {
        font-size: 12px;
    }
}

@media screen and (max-width:768px) {
    .uaf_cp-about-content {
        margin: 1.5rem 0;
    }
    .uaf_cp_heading_l1 {
        font-size: 16px;
    }
    .uaf_cp_heading_l2 {
        font-size: 18px;
    }
    .uaf_cp_heading_l3 {
        font-size: 14px;
        margin-bottom: 1.5rem;
    }
    .uaf_cp_content {
        font-size: 8px;
        margin-bottom: 2.5rem;
    }
    .uaf_cp-speakwith-btn {
        font-size: 10px;
    }
}

@media screen and (max-width:520px) {
    .uaf_cp_heading_l1 {
        font-size: 18px;
    }
    .uaf_cp_heading_l2 {
        font-size: 24px;
    }
    .uaf_cp_heading_l3 {
        font-size: 16px;
        margin-bottom: 1.5rem;
    }
    .uaf_cp_content {
        font-size: 10px;
        margin-bottom: 2.5rem;
    }
    .uaf_cp-speakwith-btn {
        font-size: 12px;
    }
}


/* Why Us  */

.uaf_cp-whyus {
    padding: 3.5rem 0;
}

.uaf_cp-whyus img {
    max-width: -webkit-fill-available;
}

.uaf_cp-whyus-line {
    margin: auto;
    width: 35%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 2rem;
}

.uaf_cp-whyus .uaf_cp-whyus-content {
    text-align: center;
    align-items: center;
    align-content: center;
}

.uaf_cp-whyus-content {
    display: none;
}

.uaf_cp_whyus_line_text {
    font-size: 14px;
    background: #fff;
    max-width: fit-content;
    /* margin: 0 auto; */
    margin: 0;
    padding: 0 1rem;
}

.uaf_cp_whyus_line_text_ul {
    text-align: left;
    list-style-type: "-";
}

.uaf_cp_whyus_line_bg {
    position: relative;
    width: 200%;
    left: -50%;
    top: -18px;
    outline: none;
    z-index: -1;
}

.uaf_cp-whyus-strategy hr {
    background: #B3A7A7;
}

.uaf_cp-whyus-sessions hr {
    background: #707070;
}

.uaf_cp-whyus-commercials hr {
    background: #474848;
}

.uaf_cp-whyus-Setup hr {
    background: #00C2E1;
}

.uaf_cp-whyus-valuation hr {
    background: #00C2E1;
}

.uaf_cp-whyus-strategies hr {
    background: #B3A7A7;
}

.uaf_cp-whyus-technology hr {
    background: #707070;
}

.uaf_cp-whyus-experience hr {
    background: #474848;
}

.uaf_cp-whyus-talent hr {
    background: #00C2E1;
}

.uaf_cp-whyus-tactics hr {
    background: #00C2E1;
}

@media screen and (max-width:480px) {
    .uaf_cp-whyus-img {
        display: none;
    }
    .uaf_cp-whyus-content {
        display: block;
    }
}

@media screen and (max-width:400px) {
    .uaf_cp_whyus_line_text {
        font-size: 14px;
    }
    .uaf_cp_whyus_line_bg {
        top: -16px;
    }
}

@media screen and (max-width:350px) {
    .uaf_cp_whyus_line_text {
        font-size: 10px;
    }
}


/* Projects Section */

.uaf_cp-projects {
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 3.5rem 0;
}

.uaf_cp-projects-heading {
    padding: 0 15rem;
}

.uaf_cp-projects-main {
    background: #F0F0F0 0% 0% no-repeat padding-box;
}

.uaf_cp-projects-main .uaf_cp_heading_l2,
.uaf_cp-projects-main .uaf_cp_content {
    color: #474848;
}

.uaf_cp-projects-main .UAF-container-fluid {
    padding: 2rem 0;
}

.uaf_cp-projects-line {
    margin: auto;
    width: 35%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 2rem;
}

.uaf_cp-projects-heading {
    padding: 0 15rem;
}

.uaf_cp-projects-img {
    height: 90px;
}

.uaf_cp-projects-imgName {
    font-size: 16px;
    margin: 0;
}

.uaf_cp-projects-countermain {
    font-size: 52px;
    font-weight: 700;
}

.uaf_cp-projects-counter {
    color: #00C2E1;
}

@media screen and (max-width:768px) {
    .uaf_cp-projects-heading {
        padding: 0 7.5rem!important;
    }
    .uaf_cp-projects .uaf_cp_heading_l3 {
        padding: 0 2rem;
    }
    .uaf_cp-projects-img {
        height: 70px;
    }
    .uaf_cp-projects-countermain {
        font-size: 35px;
    }
    .uaf_cp-projects-imgName {
        font-size: 13px;
    }
}

@media screen and (max-width:480px) {
    .uaf_cp-projects-heading {
        padding: 1rem!important;
    }
    .uaf_cp-projects-img {
        height: 80px;
    }
    .uaf_cp-projects-countermain {
        font-size: 40px;
    }
    .uaf_cp-projects-imgName {
        font-size: 15px;
        margin-bottom: 2rem;
    }
}


/* Stages */

.uaf_cp-stages {
    min-height: 35rem;
}

.honeycomb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
    transition: all 0.3s;
}

.honeycomb_flexrow {
    display: flex;
    width: 100%;
    justify-content: center;
}

.honeycombdatapart {
    margin: 10rem 0;
}

.honeycomb-cell {
    -webkit-box-flex: 0;
    flex: 0 0 150px;
    max-width: 150px;
    height: 85px;
    margin: 34px 10px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    /* box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1); */
    transition: all 0.3s;
}

.honeycomb-cell_title {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    color: #474848;
    font-weight: 500;
    font-size: 0.8rem;
    transition: opacity 350ms;
    padding: 18px;
}

.honeycomb-cell_title>small {
    font-weight: 300;
    margin-top: 0.25em;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
    content: '';
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.honeycomb-cell::before {
    background: #F0F0F0;
}

.honeycomb-cell::after {
    background: #00C2E1;
    opacity: 0;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}

.honeycomb-cell-active::after {
    background: #00C2E1;
    opacity: 1;
    transition: opacity 350ms!important;
    -webkit-transition: opacity 350ms!important;
}

.honeycomb-cell-active>.honeycomb-cell_title {
    color: #fff !important;
}

.honeycomb-cell:hover .honeycomb-cell_title {
    opacity: 1;
    color: #FFFFFF;
    transition: all 0.3s;
}

.honeycomb-cell-active:hover {
    opacity: 1!important;
    color: #FFFFFF!important;
    transition: all 0.3s!important;
}

.honeycomb-cell:hover::after {
    opacity: 1;
}

.honeycomb-cell-active:hover::after {
    opacity: 1!important;
}

.honeycomb_Hidden {
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
}

.uaf_cp-stagesmobile {
    display: none;
}

.uaf_cp-stagesmobile-bodymain {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.uaf_cp-stagesmobile-tabs {
    margin-bottom: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000029;
    opacity: 1;
    text-align: center;
}

.uaf_cp-stagesmobile .ant-collapse-header[aria-expanded="true"] {
    background-color: #00C2E1;
    color: #fff!important;
    transition: all 0.2s ease-in;
}

.site-collapse-custom-collapse {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 0px 6px #00000029; */
    /* border-radius: 10px; */
    opacity: 1;
}

.uaf_cp-stagesmobile-tabs .ant-collapse-content-box {
    text-align: center;
    padding: 1rem!important;
}

.uaf_cp-stagesmobile .uaf_cp_heading_l2 {
    text-align: center;
}

.uaf_cp-stagesmobile-tabs .ant-collapse-content-box p {
    margin: 0;
}

.uaf_cp-stagesmobile .ant-collapse-item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.uaf_cp-stagesmobile .ant-collapse-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.uaf_cp-stagesmobile .ant-collapse-item:first-child .ant-collapse-header[aria-expanded="true"] {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media screen and (max-width:768px) {
    .honeycombdatapart .uaf_cp_content {
        padding: 0 15rem;
        padding-left: 0;
    }
    .uaf_cp-stagesdesktop {
        display: none;
    }
    .uaf_cp-stagesmobile {
        display: block;
    }
    .uaf_cp-stages {
        min-height: auto;
    }
}

@media screen and (max-width:500px) {
    .honeycombdatapart .uaf_cp_content {
        padding: 0 2rem;
        padding-left: 0;
    }
}

@media screen and (max-width:462px) {
    .honeycomb {
        display: none;
    }
}


/* Youtube */

.uaf_cp-youtube-heading {
    margin-bottom: 3rem;
}

.uaf_cp_ys_contentrow1 {
    text-align: right;
    padding-left: 7rem;
}

.uaf_cp_ys_contentrow2 {
    text-align: right;
    padding-left: 4rem;
}

.uaf_cp_ys_contentrow3 {
    text-align: right;
    padding-left: 8rem;
}

.uaf_cp_ys_contentrow1_head {
    margin-bottom: 1.5rem;
}

.uaf_cp_ys_contentrow1_head p {
    margin-bottom: 0;
    font-weight: 600;
}

.uaf_cp_ys_contentrow1_head .uaf_cp-projects-line {
    float: right;
    width: 16%;
    margin-bottom: 1rem;
}

.uaf_cp_ys_contentrow2_head {
    margin-bottom: 1.5rem;
}

.uaf_cp_ys_contentrow2_head p {
    margin-bottom: 0;
    font-weight: 600;
}

.uaf_cp_ys_contentrow2_head .uaf_cp-projects-line {
    float: right;
    width: 16%;
    margin-bottom: 1rem;
}

.uaf_cp_ys_contentrow3_head {
    margin-bottom: 1.5rem;
}

.uaf_cp_ys_contentrow3_head p {
    margin-bottom: 0;
    font-weight: 600;
}

.uaf_cp_ys_contentrow3_head .uaf_cp-projects-line {
    float: right;
    width: 16%;
    margin-bottom: 1rem;
}

.uaf_cp_ys_contentrow3 .uaf_cp_content {
    margin-bottom: 0;
}

.uaf_cp_youtube_left_content,
.uaf_watchmoreBtn_col,
.uaf_youtube_col {
    min-height: 620px;
}

.uaf_cp_youtube_left_content {
    padding: 1.4rem 0;
}

.uaf_youtube_col {
    background-image: url(../img/Consultancy/ytbg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.uaf_youtube_container_inner {
    width: 400px;
    height: 280px;
    margin: auto;
    padding: 24% 0;
    margin-right: 11%;
}


/* .uaf_youtube_container_inner>div {
    width: 430px!important;
    height: 280px!important;
} */

.uaf_youtube_container_inner>div {
    width: auto;
    height: 280px!important;
    border: 1px solid #00C2E1;
    border-radius: 4px;
    background: #00C2E1;
}

.uaf_youtube_container_inner_bgimg {
    position: relative;
    top: -65px;
    left: 15px;
    z-index: 0;
}

.uaf_youtube_container_inner_playbtn {
    position: relative!important;
    z-index: 2;
}

.uaf_watchmoreBtn_container {
    padding: 13.5rem 0px;
    margin-left: 2.1rem;
    position: relative;
    top: 15px;
    z-index: 96;
    left: 4px;
}

.uaf_cp-watchmore-btn {
    background: #00C2E1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000040;
    opacity: 1;
    height: 135px;
    width: 140px;
    border-radius: 50%;
    color: #FFFFFF;
}

.uaf_cp-watchmore-btn:hover,
.uaf_cp-watchmore-btn:active {
    background: #00C2E1 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000040;
}

.uaf_cp-watchmore-btn span {
    max-width: 70px;
    text-align: center;
    word-break: break-word;
    white-space: normal;
}

.uaf_youtube_mobilecontainer {
    display: none;
}

.uaf_cp_youtube_left_content .uaf_cp_content {
    color: #707070;
}

.uaf_cp-watchmoremobile-btn {
    display: none;
}

.uaf_cp-watchmoremobile-btn {
    display: none;
}

@media screen and (max-width:1450px) {
    .uaf_cp_youtube_left_content,
    .uaf_watchmoreBtn_col,
    .uaf_youtube_col {
        height: 655px;
    }
    .uaf_watchmoreBtn_container {
        left: -3px;
    }
    .uaf_youtube_container_inner>div {
        width: 370px!important;
        height: 230px!important;
    }
    .uaf_youtube_container_inner {
        width: 370px;
        padding: 34% 0;
    }
    .uaf_watchmoreBtn_container {
        padding: 14rem 0px;
        top: 33px;
    }
    .uaf_youtube_container_inner_playbtn {
        position: relative!important;
        top: 40%;
        left: 43%!important;
    }
}

@media screen and (max-width:1280px) {
    .uaf_watchmoreBtn_container {
        left: -15px;
    }
}

@media screen and (max-width:1024px) {
    .uaf_watchmoreBtn_container {
        left: -15px;
    }
    .uaf_cp_youtube_left_content {
        padding: 5.4rem 0;
    }
    .uaf_youtube_container_inner>div {
        width: 330px!important;
        height: 230px!important;
    }
    .uaf_youtube_container_inner {
        width: 320px;
        padding: 38% 0;
    }
}

@media screen and (max-width:768px) {
    .uaf_watchmoreBtn_col {
        display: none;
    }
    .uaf_cp_youtube_left_content {
        text-align: center;
    }
    .uaf_cp_ys_contentrow1,
    .uaf_cp_ys_contentrow2,
    .uaf_cp_ys_contentrow3 {
        text-align: center;
        padding-left: 0;
    }
    .uaf_cp_ys_contentrow1_head .uaf_cp-projects-line,
    .uaf_cp_ys_contentrow2_head .uaf_cp-projects-line,
    .uaf_cp_ys_contentrow3_head .uaf_cp-projects-line {
        float: none;
        width: 5%;
        margin-bottom: 0.5rem;
    }
    .uaf_cp-projects-line {
        height: 3.5px;
    }
    .uaf_cp_ys_contentrow1_head,
    .uaf_cp_ys_contentrow2_head,
    .uaf_cp_ys_contentrow3_head {
        margin-bottom: 1rem;
    }
    .uaf_cp_youtube_left_content .uaf_cp_content {
        font-size: 12px;
        margin-bottom: 1.2rem;
        padding: 0 10rem;
    }
    .uaf_cp_youtube_left_content {
        padding: 5.4rem 0;
        padding-bottom: 1rem;
    }
    .uaf_cp_youtube_left_content,
    .uaf_youtube_col {
        height: auto;
        min-height: 100%;
    }
    .uaf_youtube_col {
        background: none;
    }
    .uaf_youtube_container_inner {
        padding: 0;
        margin: auto;
        height: auto;
        width: max-content;
        margin-bottom: 2.2rem;
    }
    .uaf_cp-watchmoremobile-btn {
        display: block;
        margin: 0 auto;
        background: #4FBFDD 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        border: none;
        color: #fff;
    }
}

@media screen and (max-width:480px) {
    .uaf_cp_youtube_left_content {
        padding: 5.4rem 0;
        padding-bottom: 1rem;
    }
    .uaf_cp_youtube_left_content .uaf_cp_content {
        font-size: 12px;
        margin-bottom: 1.2rem;
        padding: 0;
        color: #707070;
    }
    .uaf_youtube_container_inner>div {
        width: 100%!important;
        height: 200px!important;
    }
    .uaf_youtube_container_inner {
        width: -webkit-fill-available;
    }
}

@media screen and (max-width:320px) {
    .uaf_cp_youtube_left_content {
        padding: 5.4rem 0;
        padding-bottom: 1rem;
    }
    .uaf_cp_youtube_left_content .uaf_cp_content {
        font-size: 12px;
        margin-bottom: 1.2rem;
        padding: 0;
        color: #707070;
    }
}


/* Consultant */

.uaf_cp-consultant {
    padding: 5rem 0;
}

.uaf_cp-consultant .uaf_cp_heading_l3 {
    text-align: center;
}

.uaf_cp-consultant-heading {
    padding: 0 15rem;
    text-align: center;
}

.uaf_cp-consultant_main {
    background: var(--unnamed-color-f0f0f0) 0% 0% no-repeat padding-box;
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1;
}

.uaf_cp-consultant-line {
    margin: auto;
    width: 25%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 2rem;
}

.uaf_cp-consultant-line2 {
    margin: 0;
    width: 20%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 2rem;
}

.uaf_cp_cs_imageCol {
    /* padding: 3.5rem 1rem; */
    padding: 2.5rem 1rem;
    text-align: center;
}

.uaf_cp_cs_imageCol img {
    max-width: 230px;
    /* max-width: 200px; */
    /* margin-bottom: 1rem; */
    /* border-radius: 50%; */
}

.uaf_cp-consultant_overlay {
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.9)), url(../img/Consultancy/Haris.webp); */
    background: url(../img/Consultancy/Haris.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
    -webkit-filter: contrast(1.5) grayscale(4) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
    filter: contrast(1.5) grayscale(4) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
}

.uaf_cp_cs_contentCol1p1 {
    /* color: #00C2E1; */
    text-align: left!important;
}

.uaf_cp_cs_ContentRow1P2 {
    color: #00C2E1;
    margin-top: -5px;
}

.uaf_cp_cs_contentCol1 {
    padding: 4.2rem 1rem;
    text-align: left;
    padding-bottom: 4rem;
}

.uaf_cp_cs_contentCol1 .uaf_cp_content {
    margin-bottom: 0;
}

.uaf_cp_cs_imagesquareCol,
.uaf_cp_cs_ContentRow1 {
    padding: 2.5rem 1rem;
    padding-bottom: 1rem;
}

.uaf_cp_cs_innerrow {
    margin: 0 auto;
    float: none;
}

.uaf_cp_cs_ContentRow1P1 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0px;
}

.uaf_cp_cs_imagesquareCol img {
    max-width: -webkit-fill-available;
}

@media screen and (max-width:1024px) {
    .uaf_cp_cs_imageCol img {
        max-width: -webkit-fill-available;
    }
    .uaf_cp_cs_ContentRow1P2 {
        margin-bottom: 0.4rem;
    }
    .uaf_cp-consultant-line2,
    .uaf_cp_cs_contentCol1p1 {
        margin-bottom: 1.2rem;
    }
}

@media screen and (max-width:768px) {
    .uaf_cp_cs_imageCol img {
        max-width: -webkit-fill-available;
    }
    .uaf_cp_cs_ContentRow1P2 {
        margin-bottom: 0.4rem;
    }
    .uaf_cp-consultant-line2,
    .uaf_cp_cs_contentCol1p1 {
        margin-bottom: 1.3rem;
    }
    .uaf_cp-consultant_main .uaf_cp_content {
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    .uaf_cp-consultant_overlay {
        min-height: 22rem;
        width: 100%;
        margin: auto;
    }
    .uaf_cp_cs_contentCol1 {
        padding-top: 2rem;
    }
}


/* Industries */

.uaf_cp-industries {
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 3.5rem 0;
}

.uaf_cp-industries-tile-full {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.uaf_cp-industries-tileheading {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.uaf_cp-industries-tiledata {
    color: #474848;
    font-size: 15px;
    margin-bottom: 0px;
}

.uaf_cp-industries-tileimage {
    margin-bottom: 2rem;
}

.uaf_cp-industries-tile {
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1.2rem;
}

.uaf_cp-industries-tileinner {
    padding: 1.5rem;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.uaf_cp-industries-heading {
    padding: 0 15rem;
}

@media screen and (max-width:768px) {
    .uaf_cp-industries-heading {
        padding: 0 8rem!important;
    }
}

@media screen and (max-width:480px) {
    .uaf_cp-industries-heading {
        padding: 0!important;
    }
    .uaf_cp-industries-tileheading {
        font-size: 18px;
    }
    .uaf_cp-industries-tiledata {
        font-size: 12px;
    }
}


/* Article */

.uaf_cp-article {
    padding: 3.5rem 0;
}

.uaf_cp-article-content {
    margin: 1rem 0;
    margin-bottom: 0;
}

.uaf_cp-article-img img {
    max-width: -webkit-fill-available;
}

.uaf_cp-article-bluetext {
    font-size: 16px;
    font-weight: 700;
    color: #00C2E1;
    margin-bottom: 1.5rem;
}

.uaf_cp-article-line {
    margin: 0;
    width: 35%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 1.7rem;
}


/* Pricing */

.uaf_cp-pricing {
    padding: 3.5rem 0;
}

.uaf_cp-pricing .uaf_cp_heading_l2 {
    text-align: center;
}

.uaf_cp-pricing-heading {
    padding: 0 15rem;
}

.uaf_cp-pricing-line {
    margin: auto;
    width: 10%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 2rem;
}

.pricingmainbodydesktop .ant-tabs-bar {
    text-align: center;
    margin-bottom: 0;
    /* border-bottom: 4px solid #00C2E1; */
}

.pricingmainbodydesktop {
    padding-top: 2rem;
}

.tableleftdata {
    padding: 1rem 2.5rem;
    text-align: center;
    width: 20%;
}

.tablerightdata {
    width: 80%;
    padding: 1rem 2.5rem;
}

.tablerightdata ul {
    padding: 0 15px;
    margin: 0;
}

.tabledarkbg {
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.uaf_cp-pricing-tabhead {
    width: 250px;
}

.pricingmainbodydesktop .ant-tabs-tab:nth-child(1) {
    padding: 14px 16px!important;
    margin: 0!important;
    margin-right: 20px!important;
    height: 100%!important;
    border-bottom: none!important;
}

.pricingmainbodydesktop .ant-tabs-tab:nth-child(2) {
    padding: 14px 16px!important;
    margin: 0!important;
    height: 100%!important;
    border-bottom: none!important;
}

.pricingmainbodydesktop .ant-tabs-tab:nth-child(3) {
    padding: 14px 16px!important;
    margin: 0!important;
    margin-left: 20px!important;
    height: 100%!important;
    border-bottom: none!important;
}

.pricingmainbodydesktop .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
    height: auto!important;
}

.uaf_cp-pricing-tabhead-line1 {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.uaf_cp_pricing-td {
    width: 100%;
    border: 4px solid #00C2E1;
    box-shadow: 0px 3px 6px #00000029;
}

.uaf_cp-pricing-tabhead-line2 {
    color: #00C2E1;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.uaf_cp-pricing-tabhead-line2 sup {
    color: #474848;
    font-size: 9px;
    margin-bottom: 5px;
    top: -1.7em;
    font-weight: 600;
    left: -.5em;
}

.uaf_cp-pricing-tabhead-line3 {
    line-height: 1.6;
    color: #474848;
    margin-bottom: 5px;
    margin-top: -10px;
}

.uaf_cp-pricing-tabhead-longtext {
    line-height: 1.45;
    color: #474848;
    margin-bottom: 15px;
}

.uaf_cp-bookacall-btn,
.uaf_cp-bookacall-btn:hover {
    background: transparent;
    border-radius: 3px;
    color: #474848;
    border: 1px solid #474848;
    padding: 0 2.5rem;
}

.pricingmainbodydesktop .ant-tabs-tab-active .uaf_cp-bookacall-btn {
    background: #474848;
    border-radius: 3px;
    color: #ffffff;
    border: none;
}

.pricingmainbodydesktop .ant-tabs-tab-active {
    background: #fff;
    font-weight: normal;
    height: 102%;
}

.pricingmainbodydesktop .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    border: 4px solid #00C2E1!important;
    border-bottom: 0!important;
    border-top: 20px solid #00C2E1!important;
    margin-top: -15px;
    /* width: 100.865%; */
    margin-left: -1px;
}

.uaf_cp-pricing-tabhead-dollor {
    color: #474848;
    font-size: 17px;
}

.pricingmainbodymobile {
    display: none;
}

.pricingmainbodymobiletabcardbody {
    text-align: center;
    align-items: center;
    align-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #474848;
    border-radius: 5px;
    opacity: 1;
    margin-bottom: 1.8rem;
}

.pricing_tabMobile_headcontainer {
    padding: 1rem;
}

.pricingmainbodymobiletabcardbody .uaf_cp-bookacall-btn {
    background: #474848 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    border: 1px solid #474848;
    padding: 0 3.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.pricingmainbodymobile_tabs:nth-child(even) {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: none;
    margin: 0;
}

.pricing_mobile_tabs_include_ul {
    padding-inline-start: 5px;
    text-align: left;
    font-size: 13px;
    list-style: '\268A';
}

.pricing_mobile_tabs_include_ul li {
    padding-left: 5px;
}

.pricingdata_include_highlighttext {
    color: #00C2E1;
}

.pricingmainbodymobile_tabs:nth-child(odd) {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border: none;
    margin: 0;
}

.pricingmainbodymobile_tabs:last-child {
    border-radius: 0 0 5px 5px!important;
}

.pricingmainbodymobile_tabs .ant-collapse-header[aria-expanded="true"] {
    background: #00C2E1 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.pricingmainbodymobile_tabs .ant-collapse-content-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 1rem!important;
}

.pricingmainbodymobile_tabs .ant-collapse-content-box p {
    margin: 0;
}

@media screen and (max-width:768px) {
    .uaf_cp-pricing-heading {
        padding: 0;
    }
    .uaf_cp-article-content {
        margin: 1rem 0;
    }
    .pricingmainbodydesktop {
        display: none;
    }
    .pricingmainbodymobile {
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
    .pricingmainbodymobiletabcardbody {
        margin: 2rem auto;
        padding: 0%!important;
    }
}

@media screen and (max-width:480px) {
    .uaf_cp-pricing-heading {
        padding: 0;
    }
}


/* Faq's */

.uaf_cp-faq {
    padding: 3.5rem 0;
}

.uaf_cp-faq-container {
    padding: 3rem;
}

.uaf_cp-faq-heading {
    padding: 0 15rem;
}

.uaf_cp-faq-bodymain {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
}

.uaf_cp-faq-tabs {
    border: none!important;
}

.uaf_cp-faq .uaf_cp_heading_l2 {
    text-align: center;
}

.uaf_cp-faq-tabs .ant-collapse-header {
    color: #00C2E1!important;
    font-size: 17px;
    font-weight: 600;
    padding: 17px 70px!important;
}

.uaf_cp-faq-tabs .ant-collapse-header .anticon {
    left: 93%!important;
    color: #00C2E1!important;
    font-size: 17px;
    font-weight: 600;
}

.uaf_cp-faq-tabs .ant-collapse-content {
    border: none!important;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 10px 55px!important;
    font-size: 14.9px;
}

.uaf_cp-faq-line {
    margin: auto;
    width: 20%;
    height: 6px;
    background: #00C2E1;
    border: 0;
    outline: 0;
    margin-bottom: 2rem;
}

@media screen and (max-width:768px) {
    .uaf_cp-faq-heading {
        padding: 0;
    }
}

@media screen and (max-width:480px) {
    .uaf_cp-faq-heading {
        padding: 0;
    }
    .uaf_cp-faq-container {
        padding: 3rem 0;
    }
    .uaf_cp-faq-container .ant-collapse-item .ant-collapse-header {
        padding: 1rem!important;
        font-size: 14px;
    }
    .uaf_cp-faq-container .ant-collapse-item .ant-collapse-content {
        padding: 0!important;
        font-size: 12px;
        text-align: justify;
    }
}