
  .root > label > input {
    margin: 8px;
    height: 24px;
    width: 24px;
  }
  
  .root > label {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .scroll-box {
    margin: 16px;
    margin-top: 68px;
    padding: 8px;
    color: #666;
  }
  
  .scroll-box > div {
    margin-bottom: 500px;
  }
  
  .scroll-box > div:last-of-type {
    margin-bottom: 0;
  }
  .inner-scroll-example {
    padding: 8px;
    height: 150px;
    overflow: auto;
}
  
  .inner-scroll-example > div {
    margin-bottom: 150px;
  }
  
  .inner-scroll-example > div:last-of-type {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 480px) {
    header h1 {
      font-size: 16px;
    }
  
    header label {
      display: none;
    }
  
    .inner-scroll-example {
      top: 200px;
      left: 0;
      width: 80%;
      transform: translate(10%, 0);
    }
  }
  