.single-app-name{
    text-transform:uppercase;
    font-weight:700 !important;
}


.single-app-heading-text{
    text-align: center;
    font-size: 30px;
}

.ant-row.up-card-hover {
    padding: 15px;
}

.ant-row.up-card-hover:hover {
    background: #fff;
    box-shadow: 0px 0px 10px #cccccc73;
    border-radius: 5px;
}
.featuer-list-card{
    text-align:left;
    min-height:200px !important; 
}
.price-verticle-tagline{
   font-size:18px;
   text-align:center;
   margin: 5px auto;
}

.steps-content {
	padding-top: 0 !important;
	height: 340px;
	max-height: 340px;
	width: 679px;
	margin: 25px auto;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    .steps-content {
        margin-top: 16px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        /* min-height: 200px; */
        text-align: center;
        padding-top: 80px;
        height: 100%;
        width:100%;
    }
    
    .steps-action {
        margin-top: 24px;
    }

    /* .ant-steps-horizontal.ant-steps-label-horizontal {
        display: block;
        width: 100px;
        margin: 0 auto;
    } */
    .s-feature-text-cont {
		padding: 50px 15px !important;
		text-align: center;
	}

    .featuer-list-card{
        text-align:left;
        min-height:auto !important;
        margin:20px auto; 
    }
    

    .single-app-name{
        font-size: 22px !important;
    }

    .single-app-description{
        font-size:16px !important;
        line-height: 2 !important;
    }

    .single-app-heading-text{
        text-align: center;
        font-size: 22px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    .ant-row.up-card-hover {
        padding: 0px;
    }
    
    .ant-row.up-card-hover:hover {
        background: none;
        box-shadow: none;
    }
    .price-verticle-tagline{
        font-size:16px;
        text-align:center;
        margin: 20px auto;
     }
    

}