/* Banner Start */

.botHome_bannersection {
    background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/Products/bot/bannerbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    background-color: #ffffff;
    position: relative;
}

.botHome_bannersection2 {
    background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/Products/bot/bannerbg2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 90vh;
    background-color: #ffffff;
    position: relative;
}

.uaf_bp_slider_content {
    margin: 180px auto 80px auto;
}

.uaf_bp_slider_content_title {
    text-align: left;
    letter-spacing: 0px;
    color: #474848;
    opacity: 1;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    font-size: 38px;
    line-height: 1.23;
}

.lg-rtl .uaf_bp_slider_content_title {
    text-align: right;
    letter-spacing: 0px;
    color: #474848;
    opacity: 1;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    font-size: 38px;
    line-height: 1.23;
}

.uaf_bp_slider_content_text {
    text-align: left;
    letter-spacing: 0px;
    color: #474848;
    opacity: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.23;
    max-width: 450px;
    margin-bottom: 30px;
}

.lg-rtl .uaf_bp_slider_content_text {
    text-align: right;
    letter-spacing: 0px;
    color: #474848;
    opacity: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.23;
    max-width: 450px;
    margin-bottom: 30px;
}

.uaf_bp_slider_content_btn, .uaf_bp_slider_content_btn:hover, .uaf_bp_slider_content_btn:focus, .uaf_bp_slider_content_btn:active, .uaf_bp_slider_content_btn.active {
    background: #4FBFDD 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    float: left;
    letter-spacing: 0px;
    padding: 0 20px;
}

.lg-rtl .uaf_bp_slider_content_btn, .lg-rtl .uaf_bp_slider_content_btn:hover, .lg-rtl .uaf_bp_slider_content_btn:focus, .lg-rtl .uaf_bp_slider_content_btn:active, .lg-rtl .uaf_bp_slider_content_btn.active {
    background: #4FBFDD 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    float: right;
    letter-spacing: 0px;
    padding: 0 30px;
}

@media only screen and (min-device-width:1540px) {
    .botHome_bannersection, .botHome_bannersection2 {
        height: 70vh;
        background-position: 60%;
    }
    .uaf_bp_slider_content {
        margin: 15rem auto 80px auto;
    }
}

@media only screen and (max-device-width:1024px) {
    .uaf_bp_slider_content {
        margin: 140px auto 80px auto;
    }
    .uaf_bp_slider_content_title {
        font-size: 30px;
        max-width: 500px;
    }
}

@media only screen and (max-device-width:768px) {
    .botHome_bannersection, .botHome_bannersection2 {
        height: 60vh;
    }
    .uaf_bp_slider_content {
        margin: 5rem 0px;
    }
    .uaf_bp_slider_content_title {
        font-size: 25px;
        max-width: 500px;
    }
    .lg-rtl .uaf_bp_slider_content_title {
        font-size: 25px;
        max-width: 500px;
        padding: 0;
        padding-left: 2rem;
    }
    .uaf_bp_slider_content_text {
        font-size: 13px;
        max-width: 420px;
    }
    .lg-rtl .uaf_bp_slider_content_text {
        font-size: 13px;
        max-width: 420px;
        padding: 0;
        padding-left: 3rem;
    }
}

@media only screen and (max-device-width:500px) {
    .botHome_bannersection {
        height: 80vh;
        background-position-x: 10%;
        background-size: cover;
    }
    .botHome_bannersection2 {
        height: 80vh;
        background-position-x: 90%;
        background-size: cover;
    }
    .uaf_bp_slider_content {
        margin: 7rem 0;
    }
    .uaf_bp_slider_content_title {
        font-size: 25px;
        max-width: 500px;
    }
    .lg-rtl .uaf_bp_slider_content_title {
        font-size: 25px;
        max-width: 500px;
        padding: 0 1rem;
        text-align: center;
    }
    .uaf_bp_slider_content_text {
        font-size: 14px;
        max-width: 420px;
        padding-right: 8rem;
    }
    .lg-rtl .uaf_bp_slider_content_text {
        font-size: 13px;
        max-width: 420px;
        text-align: center;
        padding: 0 1rem;
    }
    .lg-rtl .uaf_bp_slider_content_btn, .lg-rtl .uaf_bp_slider_content_btn:hover, .lg-rtl .uaf_bp_slider_content_btn:focus, .lg-rtl .uaf_bp_slider_content_btn:active, .lg-rtl .uaf_bp_slider_content_btn.active {
        background: #4FBFDD 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        color: #fff;
        float: none;
        letter-spacing: 0px;
        padding: 0 30px;
    }
}

/* Banner End */

/* ==========================
    Content section
========================== */

.botHome_gradBg {
    background: linear-gradient(180deg, #FFFFFF 1%, rgba(225, 225, 225, 0.6) 64%, #FFFFFF 100%);
    box-shadow: 0px 5px 50px #00000029;
}

.botHome_contentsection_title {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    max-width: 340px;
    line-height: 1.23;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}

.botHome_contentsection_titleleft {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    max-width: 340px;
    line-height: 1.23;
}

.botHome_contentsection_titleright {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.23;
    padding-left: 150px;
}

.botHome_contentsection_textleft {
    color: #474848;
    max-width: 460px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.botHome_contentsection_textright {
    color: #474848;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.botHome_contentsection_getitnowbtnleft {
    margin-top: 0.6rem;
    color: #fff;
    background: #4FBFDD;
    text-align: center;
    transition: all 0.3s;
    border-radius: 2px;
}

.botHome_contentsection_getitnowbtnleft:hover, .botHome_contentsection_getitnowbtnleft:focus {
    margin-top: 0.6rem;
    color: #fff;
    background: #4FBFDD;
    opacity: 0.8;
}

.botHome_contentsection_imgbody {
    max-height: 500px;
}

.botHome_contentsection_imgbody img {
    max-height: inherit;
    width: auto;
}

/* Section1 Start */

.botHome_section1 {
    height: auto;
}

.botHome_contentsection_row1 {
    padding: 8rem 0;
}

.botHome_contentsection_contentCol1 {
    padding: 4rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row1 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row1 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_textleft {
        font-size: 13px;
    }
    .botHome_contentsection_contentCol1 {
        padding: 0;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row1 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row1 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_textleft {
        font-size: 13px;
    }
    .botHome_contentsection_contentCol1 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_titleleft {
        margin: 1rem auto
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
}

/* Section1 End */

/* Section2 Start */

.botHome_section2 {
    height: auto;
}

.botHome_contentsection_row2 {
    padding: 6rem 0;
}

.botHome_contentsection_contentCol2 {
    padding: 8rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row2 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row2 {
        padding: 5rem 0;
    }
    .botHome_contentsection_contentCol2 {
        padding: 4rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol2 {
        padding: 0;
    }
    .botHome_contentsection_titleright {
        padding-left: 50px;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row2 {
        padding: 5rem 0;
    }
    .botHome_contentsection_textright {
        font-size: 13px;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row2 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .botHome_contentsection_textright {
        font-size: 13px;
    }
    .botHome_contentsection_contentCol2 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .botHome_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Section2 End */

/* Section3 Start */

.botHome_section3 {
    height: auto;
}

.botHome_contentsection_row3 {
    padding: 6rem 0;
}

.botHome_contentsection_contentCol3 {
    padding: 6rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row3 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row3 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol3 {
        padding: 0;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row3 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row3 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol3 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_titleleft {
        margin: 1rem auto
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
}

/* Section3 End */

/* Section4 Start */

.botHome_section4 {
    height: auto;
}

.botHome_contentsection_row4 {
    padding: 6rem 0;
}

.botHome_contentsection_contentCol4 {
    padding: 7rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row4 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row4 {
        padding: 5rem 0;
    }
    .botHome_contentsection_contentCol4 {
        padding: 4rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol4 {
        padding: 0;
    }
    .botHome_contentsection_titleright {
        padding-left: 50px;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row4 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row4 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .botHome_contentsection_contentCol4 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .botHome_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Section4 End */

/* Section5 Start */

.botHome_section5 {
    height: auto;
}

.botHome_contentsection_row5 {
    padding: 7rem 0;
}

.bhome_s5_cols_outermain {
    margin: 0 auto;
}

.bHome_s5_col {
    padding: 2rem 4rem;
}

.bHome_s5_img_outer {
    max-height: 100px;
}

.bHome_s5_img_outer2 {
    max-height: 100px;
}

.bHome_s5_img_outer img {
    max-height: inherit;
}

.bHome_s5_heading {
    font-size: 22px;
    font-weight: 700;
    max-width: 350px;
    color: #474848;
    opacity: 0.9;
}

.bHome_s5_text {
    color: #474848;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    opacity: 0.9;
    padding-right: 15pt;
}

.bHome_s5_roboimg {
    max-height: 150px;
    margin-top: -2rem;
}

@media only screen and (max-device-width: 768px) {
    .bHome_s5_col {
        margin: 0 auto;
        text-align: center;
        padding: 2rem;
    }
    .bHome_s5_heading {
        margin: 1rem auto;
    }
    .bHome_s5_text {
        padding: 0;
        font-size: 13px;
    }
}

/* Section5 End */

/* Section6 Start */

.botHome_section6 {
    height: auto;
}

/* Row6 Start */

.botHome_contentsection_row6 {
    padding: 8rem 0;
}

.botHome_contentsection_contentCol6 {
    padding: 5rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row6 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row6 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol6 {
        padding: 0;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row6 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row6 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol6 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_titleleft {
        margin: 1rem auto
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
}

/* Row6 End */

/* Row7 Start */

.botHome_contentsection_row7 {
    padding: 3rem 0;
}

.botHome_contentsection_contentCol7 {
    padding: 6rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row7 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row7 {
        padding: 5rem 0;
    }
    .botHome_contentsection_contentCol7 {
        padding: 4rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol7 {
        padding: 0;
    }
    .botHome_contentsection_titleright {
        padding-left: 50px;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row7 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row7 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .botHome_contentsection_contentCol7 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .botHome_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Row7 End */

/* Row8 Start */

.botHome_contentsection_row8 {
    padding: 6rem 0;
}

.botHome_contentsection_contentCol8 {
    padding: 6rem 0;
    align-self: center;
}

@media only screen and (device-width:1440px) {
    .botHome_contentsection_row8 {
        padding: 7rem 0;
    }
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .botHome_contentsection_row8 {
        padding: 5rem 0;
    }
    .botHome_contentsection_contentCol8 {
        padding: 4rem 0;
    }
}

@media only screen and (max-device-width: 768px) and (min-device-width: 481px) {
    .botHome_contentsection_titleleft {
        font-size: 22px;
    }
    .botHome_contentsection_contentCol8 {
        padding: 0;
        margin-top: 1rem;
    }
    .botHome_contentsection_titleright {
        padding-left: 50px;
    }
    .botHome_contentsection_imgbody {
        margin-top: 1rem;
    }
    .botHome_contentsection_row8 {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px) {
    .botHome_contentsection_row8 {
        padding: 5rem 0;
    }
    .botHome_contentsection_titleright {
        font-size: 22px;
        margin: 1rem auto
    }
    .botHome_contentsection_contentCol8 {
        padding: 0.5rem 0;
    }
    .botHome_contentsection_getitnowbtnleft {
        margin: 1rem auto;
    }
    .botHome_contentsection_titleright {
        padding: 0;
        max-width: 80%;
        margin: 1rem auto;
    }
}

/* Row8 End */

/* Section6 End */

/* Section7 Start */

.botHome_contentsection_row9 {
    padding: 8rem 0;
}

.s7_tile_inner {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    border: 1.5px solid #F9F9F9;
    transition: all 0.3s;
}

.s7_tile_inner:hover {
    border: 1.5px solid;
    box-sizing: border-box;
    box-shadow: 1px 6px 10px #00000044;
}

.s7_tile_inner img {
    padding: 2rem;
    height: 180px;
    max-width: -webkit-fill-available;
}

.s7_tile_inner h3 {
    letter-spacing: 0px;
    color: #000000FC;
    opacity: 1;
    font-size: 15px;
    padding: 1rem;
    padding-bottom: 1.5rem;
    line-height: 1.3;
    height: 78px;
}

@media only screen and (max-device-width:1024px) and (min-device-width: 769px) {
    .s7_tile_inner h3 {
        font-size: 16px;
        padding-bottom: 1.5rem;
        line-height: 1.3;
        height: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.8rem;
    }
    .s7_tile_inner img {
        padding: 1.5rem;
        height: 140px;
        max-width: -webkit-fill-available;
    }
}

@media only screen and (max-device-width:768px) and (min-device-width: 491px) {
    .s7_tile_outer {
        padding: 1.5rem!important;
    }
    .s7_tile_inner h3 {
        padding: 1.5rem;
        font-size: 16px;
        height: 95px;
    }
    .botHome_contentsection_row6 {
        margin: 4rem auto;
    }
    .s7_tile_inner img {
        padding: 1.5rem;
        height: 140px;
        max-width: -webkit-fill-available;
    }
}

@media only screen and (max-device-width:490px) and (min-device-width: 320px) {
    .s7_tile_outer {
        padding: 1.5rem;
        margin: 0 auto;
    }
    .s7_tile_inner h3 {
        padding: 1.5rem;
        font-size: 16px;
        height: 95px;
    }
    .botHome_contentsection_row6 {
        margin: 4rem auto;
    }
    .s7_tile_inner img {
        padding: 1.5rem;
        height: 140px;
        max-width: -webkit-fill-available;
    }
}

/* Section7 End */

/* Section8 Start */

.botHome_section8 {
    height: auto;
}

.s8_tile_outer {
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 3px 6px 6px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding: 1.6rem!important;
    margin-bottom: 3rem;
}

.bHome_s8_heading {
    font-size: 22px;
    font-weight: 700;
    max-width: 365px;
    color: #474848;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.botHome_contentsection_row10 {
    padding: 8rem 0;
    background-image: url("https://upappfactory-static-images.s3.us-east-2.amazonaws.com/Products/bot/chatbotbg.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}

.botHome_contentsection_title_full {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    max-width: 500px;
    line-height: 1.23;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}

.bHome_s8_heading {
    font-size: 22px;
    font-weight: 700;
    max-width: 400px;
    color: #474848;
    opacity: 0.9;
}

.bHome_s8_text {
    color: #474848;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    opacity: 0.9;
    padding-right: 15pt;
    margin: 0;
}

@media only screen and (max-device-width:768px) and (min-device-width: 491px) {
    .bHome_s8_text {
        padding: 0;
        font-size: 13px;
    }
}

@media only screen and (max-device-width:490px) and (min-device-width: 320px) {
    .s8_tile_outer {
        margin: 2rem auto;
        background-color: #ffffffd0;
    }
    .botHome_contentsection_row10 {
        background-size: 90%;
        text-align: center;
    }
    .bHome_s8_text {
        padding: 0;
    }
}

/* Section8 End */

/* Section9 Start */

.botHome_section9 {
    height: auto;
    box-shadow: 0px 5px 50px #00000029;
}

.botHome_contentsection_row11 {
    padding: 8rem 0;
}

.botHome_iframe {
    width: 100%;
    max-width: 350px;
    height: 500px;
    border: none;
    outline: none;
    box-shadow: 0px 15px 15px #00000029;
    margin-bottom: 1.2rem;
    border-radius: 5px;
}

.botHome_IframeColMain p {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000FC;
    opacity: 1;
    margin: 0 auto;
}

.botHome_IframeInnermainBody {
    justify-content: center;
}

.botHome_IframeColMain {
    text-align: center;
    padding: 3rem 2.5rem;
    border-radius: 5px;
}

@media only screen and (max-device-width:1024px) {
    .botHome_IframeColMain {
        padding: 2.5rem 1.5rem;
    }
}

/* Section9 End */

/* Section10 Start */

.botHome_section10 {
    height: auto;
}

.botHome_contentsection_row12 {
    padding: 8rem 0;
}

.botHome_contentsection_text_full {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: #474848;
    opacity: 1;
    line-height: 1.2;
    margin-bottom: 3rem;
    opacity: 0.9;
    font-weight: 600;
}

.botHome_s10_title_full {
    color: #474848;
    font-weight: 700;
    font-size: 28px;
    max-width: 500px;
    line-height: 1.23;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0.9;
}

.botHome_s10_PricingIcon {
    width: 150px;
}

.botHome_s10_PricingTextSection {
    text-align: center;
    margin: 10px auto;
    font-size: 14px;
}

.botHome_s10_PricingTs_text {
    max-width: 220px;
    margin: 0 auto;
    line-height: 1.2;
    color: #ffffffcc;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.9;
}

.botHome_s10_PricingTs_text b {
    color: #ffffff;
}

.s10-_pricing_text_line {
    border: none;
    border-top: 1.8px solid #b1b1b1;
    opacity: 1;
    max-width: 100px;
    outline: none;
    margin: 1.5rem auto;
}

.s10_currency_outer {
    margin: 2rem 0;
}

.s10_currency {
    font-size: 12px;
    top: -15px;
    right: 5px;
    opacity: 0.8;
    font-weight: 500;
}

.s10_monthTag {
    font-size: 12px;
    top: 0px;
    right: -5px;
    opacity: 0.8;
    font-weight: 500;
}

.s10_currency_section {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.s10_PricingTs_text1 {
    height: 65px;
}

.s10_PricingTs_text2 {
    height: 60px;
    vertical-align: middle;
}

.s10_PricingTs_text3 {
    height: 32px;
}

.s10_monthTag_tile_btn {
    text-align: center;
}

.botHome_pricing_mainOuter {
    margin-top: 2rem;
}

.botPricing_btn {
    width: 200px;
    height: 40px;
    font-size: 18px;
}

/* Section9 End */