.verifyAccount {
	max-width: 600px;
	margin: 100px auto;
	text-align: center;
	padding: 40px 15px 60px 15px;
	background: #faffff;
	box-shadow: 0px 0px 2px #ddd;
}

.msg {
	font-size: 20px;
	font-weight: 400;
	padding: 35px 10px;
}
.email-id {
	color: #096dd9;
}
